body, html {
  height: 100%;
  margin: 0;
}
.logo{
  padding: 0;
  margin: 5px;
  background: #b5b500;
}

.bgimg {
  /* background-image: url('../images/slider_b.jpg'); */
  background-color: rgb(114, 97, 97, .9);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #b5b500;
  /* color: #002f67; Nouveltech*/
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

img {
  padding: 20px;
  width: 15%;
  height: 30%;
}