$primary_color: #002f67;$secondary_color: #00a6ca;$third_color: #07b6c6;$link_color: #002f67;$link_color_hover: #00a6ca;$link_color_active: #07b6c6;$gradient_color_from: #002f67;$gradient_color_to: #00a6ca;
                $body_default_font: Google-Font;
            
                $heading_default_font: Google-Font;
            